<!DOCTYPE html> 
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top" style="height: 55px;">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-family: Acme, sans-serif;">BucketList</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <input class="border rounded d-xl-flex mr-auto align-items-xl-start" type="search" style="width: 370px;" placeholder="Search user...">
                {{!-- <p>Hi, {{username}}</p> --}}
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">More</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/profile">Profile</a>
                            <a class="dropdown-item" role="presentation" href="/settings">Settings</a>
                            <form method="POST" action="/logout">
                            <a class="dropdown-item" role="presentation" onclick="this.parentNode.submit();">Logout</a></form>
                        </div>
                </div>
            </div>
        </div>
    </nav>
    