<!DOCTYPE html> 
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top" style="height: 55px;">
        <div class="container">
            <a class="navbar-brand BL" href="/" style="font-family: Acme, sans-serif;">BucketList</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                
                <input class="border rounded d-xl-flex mr-auto align-items-xl-start" id="searchInput " type="search" style="width: 370px;" placeholder="Search . . .">
                {{!-- <button id="search" style="right:100px; color:#e9ecfa;border:none; background:none" data-toggle="tooltip">
                            <i class="fa fa-search fa-lg"></i></button> --}}
                
                <a style="font-family: Acme, sans-serif" href='/profile' class="navbar">Hi, {{firstName}}!</a>
                <div class="dropdown">
                    <a class="navbar dropdown-toggle mainNav" data-toggle="dropdown" aria-expanded="false">More</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/profile">Profile</a>
                            <a class="dropdown-item" role="presentation" href="/settings">Settings</a>
                            <form method="POST" action="/logout">
                            <a class="dropdown-item" role="presentation" onclick="this.parentNode.submit();">Logout</a></form>
                        </div>
                </div>
            </div>
        </div>
    </nav>
    