    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top" style="height: 55px;">
        <div class="container"><a class="navbar-brand" href="/feed" style="font-family: Acme, sans-serif;">BucketList</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse shadow-lg" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul><input class="border rounded d-xl-flex mr-auto align-items-xl-start" type="search" style="width: 370px;" placeholder="Search user...">
                <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">More</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Profile</a>
                    <a class="dropdown-item" role="presentation" href="/account-settings">Account Settings</a>
                    <a class="dropdown-item" role="presentation" href="/">Logout</a></div>
                </div>
        </div>
        </div>
    </nav>
    