<div>
    <h1 class="text-center" style="margin-top: 20px;">Update Task</h1>
    <div style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div><input type="text" style="width: 600px;font-size: 20px;" placeholder="Task Title" required=""><textarea style="width: 600px;margin-top: 10px;font-size: 18px;" placeholder="Task Description"></textarea></div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="width: 300px;font-size: 20px;"><input type="text" style="width: 250px;font-size: 16px;" placeholder="Tag 1"><input type="text" style="width: 250px;margin-top: 10px;font-size: 16px;" placeholder="Tag 2"><input type="text" style="width: 250px;font-size: 16px;margin-top: 10px;"
                            placeholder="Tag 3"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check text-center" style="font-size: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-1" style="margin-top: 8px;"><label class="form-check-label" for="formCheck-1">Private</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-check text-center" style="font-size: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-1" style="margin-top: 8px;"><label class="form-check-label" for="formCheck-1">Requested</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-check text-center" style="font-size: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-1" style="margin-top: 8px;"><label class="form-check-label" for="formCheck-1">Completed</label></div>
                </div>
            </div>
        </div>
    </div>
</div>