<!DOCTYPE html>
<div>
    {{!-- NAVBAR --}}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top" style="height: 55px;">
        <div class="container">
            <a class="navbar-brand" href="" style="font-family: Acme, sans-serif;">BucketList</a>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#team">Team</a></li>
                </ul><span class="navbar-text actions">
                   <button class="btn btn-light action-button" id="openLogin" style="height: 36px;padding-top: 5px;">Log In</button>
                    <button class="btn btn-light action-button" id="openRegister" style="height: 36px;padding-top: 5px;">Register</button>
                </span></div>
        </div>
    </nav>

    <div data-bs-parallax-bg="true" style="margin-top:-45px;background-image:url(https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=667&amp;q=80);background-position:center;background-size:cover;">
        <h1 class="display-3 text-center d-lg-flex justify-content-lg-center align-items-lg-center" style="padding-top: 107px;color: rgb(0,0,0);font-size: 80px;font-family: Acme, sans-serif;">BucketList</h1>
        <p class="text-center" style="color: rgb(157, 157, 157);font-size: 20px;"><strong>The place to gather ideas for things to accomplish in life.</strong></p><br>
    </div>

    <div id="about" class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">What is BucketList?</h2>
                <p class="text-center">Have you ever thought of the things you could do before you die? Or would you like ideas or goals that would seem fun to do? Then this is the place for you. Here at BucketList you can list down the things you want to accomplish, share
                    it with other people, look for inspiration, ask help from the friendly community. We want to work together with you. Here at BucketList!<br></p>
            </div>
            <div class="buttons"></div>
        </div>
    </div>

    <div id="features" class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-3 item" style="opacity: 1;">
                    <div class="box"><i class="fa fa-signing icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Share</h3><a class="learn-more">Build your own bucketlist and share it to the world.</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item">
                    <div class="box"><i class="fab fa-searchengin icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Discover</h3><a class="learn-more">Look for inspiration from what other people share.</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 offset-lg-0 item">
                    <div class="box"><i class="fa fa-slideshare icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Collaborate</h3><a class="learn-more">Tag items as requests to get some help from others.</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="team" class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-3 item">
                    <div class="box"><i class="fa fa-cube icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name"><strong>CaiMarkJayson</strong></h3><a class="learn-more">filler</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item">
                    <div class="box"><i class="fas fa-cube icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Algernoot</h3><a class="learn-more">filler</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item">
                    <div class="box"><i class="fa fa-cube icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name"><strong>annakumiko</strong></h3><a class="learn-more">filler</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="team" class="team-clean"></div>
    
</div>

{{!-- LOGIN --}}
    <div id="login-div" class="login-clean">
        <div class="form-container" style="margin-top: -30px;">
            <button id="closeL" style="margin-right: 540px;margin-top:50px">&times;</button><br><br>
            <form method="post" style="padding-top: 5px;height: 480px;">
                <div class="illustration"><img src="/assets/img/logo.png" style="width: 120px;height: 120px;">
                    <h2 class="text-center" style="font-size: 45px;font-family: Delius, cursive;padding-top: 10px;">Welcome!</h2>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username"><br>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                    <p id="loginError" class="error"> {{loginError}} </p></div>
                <button id="loginVal" class="btn btn-primary btn-block" type="button" style="padding: 5px;">Log In</button>
                </div>
            </form>
        </div>
    </div>

{{!-- REGISTER --}}
    <div id="register-div" class="register-photo">
        <div class="form-container">
            <form method="post" style="padding-top: 5px;height: 530px">
                <h2 class="text-center" style="font-family: Delius, cursive;line-height: 38px;font-size: 40px;;margin-top: 50px"><strong>Registration</strong></h2>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="First Name" id="rFName"><br>
                    <input class="form-control" type="text" placeholder="Last Name (Optional)" id="rLName"><br>
                    <input class="form-control" type="email" name="email" placeholder="Email" id="rEmail"><br>
                    <input class="form-control" type="text" placeholder="Username" id="rUsername"><br>
                    <input class="form-control" type="password" name="password" placeholder="Password" id="rPass1"><br>
                    {{!-- <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" id="rPass2"> --}}
                    <p id="regError" class="error"> {{regError}} </p></div>
                    <button id="regVal" class="btn btn-primary btn-block" type="button" style="padding: 5px">Sign Up</button>
                </div>
            </form>
            <button id="closeR" style="margin-right: 260px;margin-top: -515px">&times;</button><br><br>
        </div>
    </div>

<script>
/* VALIDATE LOGIN */
var LoginValidate = function() { 
      var username = $("#username").val();
      var password = $("#password").val();
      var valid = true;

    if(email == "" || password == "") {
        valid = false;
    }

    if(valid) {
        $.post("/login/validate",{email:email,password:password},function(data){
            if(data === "valid") {
                alert("Login succesful!");
                window.location.href = '/profile';
            } else{
              alert("Invalid username or password.");
              clearField('username');
              clearField('password');
            }
        });
    }
}

  /* VALIDATE REGISTRATION -- IF USER DOES NOT EXIST YET */
  var RegisterValidate = function(){
      var name = $("#rName").val();
      var email = $("#rEmail").val();
      var username = $("#rUsername").val();
      var pass1 = $("#rPass1").val();
      var pass2 = $("#rPass2").val();
      var valid = true;


    if(name == "" || email == "" || username == "" || pass1 == "" || pass2 == "")
        valid = false;
    else if(pass1 != pass2) { 
        valid = false;
        alert("Password does not match. Try again.")
        clearField('rPass1');
        clearField('rPass2');}

    if(valid) {

        var newUser = {
          name: name,
          email: email,
          username: username,
          password: password,
          }    
          
          $.post("/login/register", newUser, function(data){
              if(data === 'valid') {
                  /* redirect to new user's profile */
                  alert("Registration succesful!");
                  window.location.href = '/profile';
              } 
              
              else{ /* will clear the form if the user already exists */
                  alert("User already exists.")
                  clearField('rName');
                  clearField('rEmail');
                  clearField('rUsername');
                  clearField('rPass1');
                  clearField('rPass2');
              }
          });
    }
}

/* Clear input field */
function clearField(field){
    document.getElementById(field).value = '';
}

</script>