<div>
    <h1 class="text-center" style="margin-top: 20px;">Comments</h1>
    <div style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h1>task name</h1>
                        <p style="margin-top: -8px;color: rgb(85,93,101);">task description&nbsp;task description&nbsp;<br></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="margin-top: 0px;">
                        <h3>Tags</h3>
                        <div style="margin-left: 20px;">
                            <p>Paragraph</p>
                            <p style="margin-top: -8px;">Paragraph</p>
                            <p style="margin-top: -8px;">Paragraph</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="margin-top: 10px;"><input class="border rounded" type="text" placeholder="Write something..." style="width: 820px;margin-left: 10px;"><button class="btn btn-primary" type="button" style="margin-left: 10px;width: 83px;padding-left: 4px;height: 29px;padding-top: 2px;margin-top: -7px;">Comment</button></div>
                    <div
                        style="margin-top: 15px;">
                        <h5 style="width: 570px;margin-left: 40px;color: #057091;margin-top: 20px;">username</h5>
                        <p style="width: 580px;margin-left: 40px;margin-top: -8px;color: #414144;">Paragraph</p>
                </div>
            </div>
        </div>
    </div>
    </div><button class="btn btn-primary" type="button" style="margin-top: 30px;">Close</button>
</div>