        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div><img class="rounded-circle" src="/assets/img/1.png" style="margin: 101px;width: 200px;height: 200px;margin-top: 20px;margin-left: 41px;">
                        <h1 class="text-center" style="margin-top: -95px;width: 289.984px;margin-left: 0px;font-size: 28px;">Display Name</h1>
                        <h1 class="text-center" style="width: 289.984px;font-size: 20px;color: rgb(93,94,95);margin-left: 0px;margin-top: -7px;">Edit Profile</h1>
                        <p class="text-center" style="width: 289.984px;margin-left: 0px;margin-top: 51px;">bio bio bio bio bio&nbsp;bio bio bio bio bio&nbsp;bio bio bio bio bio<br><br>&nbsp;<br></p>
                    </div><button class="btn btn-primary" type="button" style="margin-left: 94px;margin-top: 60px;">Edit Profile</button></div>
                <div class="col-md-8">
                    <div><div class="container">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-4"><h2>  Task <b>List</b></h2></div>
                                    <div class="col-sm-4" align="center8">
                                        <div class="search-box">
                                            <input type="text" id="tagsrch" class="form-control" placeholder="Search tags…">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" align="right">
                                    <div>
                                            <button type="button" id="addbtn" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add Task</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Task  <i class="fa fa-sort"></i></th>       <th>Date Added  <i class="fa fa-sort"></i></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="title">Study for exam</td>
                                        <td class="date">January 10, 2020</td>
                                        <td class="actions">
                                            <a href="#" class="complete" title="Complete" data-toggle="tooltip"><i class="fa fa-check-square-o icon fa-lg"></i></a>
                                            <a href="#" class="view" title="View" data-toggle="tooltip"><i class="fab fa-rocketchat icon fa-lg"></i></a>
                                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="fas fa-edit icon fa-lg"></i></a>
                                            <a href="#" class="delete" title="Delete" data-toggle="tooltip" color=""><i class="fas fa-trash-alt icon fa-lg"></i></a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                          
                            </div>
                        </div>
                    </div>
                
                <style>
                .complete, .view, .edit, .delete {
                        padding: 5px;
                    }
                    
                .complete:hover, .view:hover, .edit:hover, .delete:hover {
                        color: #1a1a1e;
                    }
                    
                .complete {
                        color: #ffd200;
                    }
                
                .view {
                        color: #008aff;
                    }
                    
                .edit {
                        color: #00ff60;
                    }
                
                .delete {
                        color: #ff3c00;
                    }
                    
                .actions{
                        width: 25%
                    }
                
                .date{
                        width: 25%
                    }
                </style>
                </div>
            </div>
            <br>
        </div>